.home {
    width: 100%;
    height: 100%;
    padding-left: 75px;

    display: grid;
    grid:
        "header header header" 0.125fr "content content content" 1.125fr "content content content" 1.125fr "footer footer footer" 0.125fr / 1fr 1fr 1fr;
    gap: 8px;

    background-color: #fff;
}

.home__header {
    grid-area: header;
}

.home__container {
    grid-area: content;
    display: flex;
    padding-bottom: 5px;
}

.home__container--left {
    width: 500px;
    padding-right: 20px;
    margin-top: 100px;
}

.home__highlight {
    padding: 5px 10px;
    background-color: #b4d2d1;
    color: #006c4f;
    font-weight: 500;
    width: fit-content;
    border-radius: 5px;
}

.home__title {
    font-size:36px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #006C68;

    letter-spacing: 2px;
    margin-bottom: 16px;
}

.home__subtitle {
    font-size: 16px;
    font-weight: 400;

    padding-right: 50px;
    color: #006C68;
}

.home__cta {
    color: white;
    font-weight: 600;

    background-color: #006C68;
    padding: 10px 15px;
    border-radius: 10px;
}

.home__cta:hover {
    color: white;
    background-color: #00908B;
}

.home__cta--faq {
    color: #006C68;
    background-color: transparent;
}

.home__cta--faq:hover {
    color: #00908B;
    background-color: transparent;
}

.faq__highlight {
    line-height: 2;
    position: relative;
}

.faq__highlight::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #00908B;
    position: absolute;
    bottom: -.25rem;
    right: 0;
    transition: right .4s, width .4s, left .4s;
}

.faq__highlight:hover::before {
    width: 100%;
    left: 0;
}

.home__container--right {
    flex: 1;
    align-items: center;
}

.home__background {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../assets/background1.png);
    background-size: cover;
    background-position: center;

    border-start-start-radius: 25px;
    border-end-start-radius: 25px;
    border: 2px solid #006C68;
    border-right: none;

    overflow: hidden;
}

.home__footer {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #006C68;

    grid-area: footer;
    margin-right: 25px;
}

@media screen and (max-width: 1024px) {
    .home__container {
        flex-direction: column;
    }

    .home__container--left {
        padding-right: 0;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .home__container--left {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .home {
        padding-left: 25px;
    }
}

@media screen and (max-width: 500px) {
    .home__title {
        font-size: 28px;
    }

    .home__highlight,
    .home__subtitle,
    .home__cta,
    .home__footer {
        font-size: 14px;
    }

}

@media screen and (max-width: 390px) {
    .home__title {
        font-size: 24px;
    }

    .home__subtitle,
    .home__cta {
        font-size: 12px;
    }

    .home__subtitle {
        padding-right: 25px;
    }
}