.dashboard__container {
    height: 100%;
    display: flex;
    background-color: #006C68;
    padding: 15px;
}

.sidebar {
    width: 350px;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 0;
}

.sidebar__header {
    height: 75px;
    color: #006C68;

    border-radius: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;
}

.sidebar__logo {
    margin-right: 20px;
}

.std__name {
    color: #006C68;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.admin__name {
    color: #006C68;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: end;
}

.sidebar__body {
    margin-top: 15px;
    padding-left: 18px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sidebar__item {
    height: 75px;
    display: flex;
    align-items: center;

    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.sidebar__item--footer {
    width: 100%;
}

.sidebar__item--hover {
    line-height: 2;
    position: relative;
}

.sidebar__item--hover::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 1rem;
    right: 0;
    transition: right .6s, width .6s, left .6s;
}

.sidebar__item--hover:hover {
    color: #fff;
}

.sidebar__item--hover:hover::before {
    width: 100%;
    left: 0;
}

.sidebar__item--active {
    width: 100%;
    border-right: 2px solid #fff;
}

.sidebar__footer {
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #006C68;
    border-top: 1px solid #fff;
    padding-left: 18px;
}

.dashboard__header-title {
    font-size: 26px;
    font-weight: 500;
    color: #006C68;
    margin-bottom: 15px;
}

.dashboard__content {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;

    overflow: scroll;
}

.fa-house,
.fa-list,
.fa-boxes-stacked,
.fa-cart-shopping,
.fa-clock-rotate-left,
.fa-user,
.fa-arrow-right-from-bracket {
    margin-right: 15px;
}

.fa-users {
    margin-right: 10px;
}

.footer {
    height: 75px;
    border-radius: 15px;
    margin-top: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__item {
    color: #006C68;
    font-size: 20px;
    font-weight: 500;
}

.footer__item--active {
    color: #79D1C3;

}

.dropdown-menu__item {
    color: #006C68;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    width: 100%;
    text-align: start;
}

.dropdown-toggle {
    color: #006C68;
}

.offcanvas-header {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #006C68;
}

.btn-close {
    border-radius: 100%;
    background-color: #fff;
}

.offcanvas-body {
    border-top: 1px solid #006C68;
}

.offcanvas-close--button {
    align-self: flex-end;
}

.offcanvas--title {
    font-size: 26px;
    align-self: flex-start;
}

.offcanvas__title--highlight {
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.offcanvas--link {
    align-self: start;
    font-family: 'Noto Sans Thai', sans-serif;
    color: #fff;
}

.offcanvas--link:hover {
    color: #fff;
}

.offcanvas__lists {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offcanvas__item {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    color: #006C68;
    text-decoration: none;
}

.offcanvas__button {
    background-color: white;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.offcanvas__button-text {
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 10px;
    color: #006C68;
}

.offcanvas__button-text:active {
    background-color: #006C68;
    border-radius: 5px;
    color: #fff !important;
}

.offcanvas__button-text--hover {
    line-height: 2;
    position: relative;
}

.offcanvas__button-text--hover::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #006C68;
    position: absolute;
    bottom: 0.25rem;
    right: 0;
    transition: right .6s, width .6s, left .6s;
}

.offcanvas__button-text--hover:hover {
    color: #006C68;
}

.offcanvas__button-text--hover:hover::before {
    width: 100%;
    left: 0;
}

.thai--font {
    font-family: 'Noto Sans Thai', sans-serif;
}

.disable--link {
    text-decoration: none;
}

.component__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-top: -8px;
    margin-bottom: 25px;
    border-bottom: 1px solid #006C68;
}

.component__headerGroup {
    display: flex;
    align-items: center;
}

.component__headerGroup--left {
    width: 100%;
    justify-content: start;
}

.component__headerGroup--right {
    justify-content: space-between;
}

.user__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
}

.user__email {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #006C68;
}

.fa-magnifying-glass,
.fa-ban {
    color: #006C68;
    font-size: 16px;
    margin-right: 15px;
}

.fa-circle-user {
    color: #006C68;
    font-size: 28px;
    margin-right: 10px;
}

.username--text {
    color: #006C68;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.disable {
    display: none;
}

@media screen and (min-width: 875px) {
    .footer {
        display: none;
    }
}

@media screen and (max-width: 1155px) {
    .std__name {
        text-align: end;
    }
}

@media screen and (max-width: 875px) {
    table th {
        white-space: nowrap;
    }

    .dashboard__container {
        flex-direction: column;
    }

    .sidebar {
        display: none;
    }

    .dashboard__content {
        height: 90%;
    }

    .footer {
        display: flex;
    }
}

@media screen and (max-width: 650px) {
    .user__email {
        display: none;
    }

    .fa-house,
    .fa-list,
    .fa-boxes-stacked,
    .fa-cart-shopping,
    .fa-clock-rotate-left,
    .fa-user,
    .fa-users,
    .fa-arrow-right-from-bracket {
        margin: 0;
    }
}