.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/background1.png);
    background-size: cover;
    height: 100%;
}

.form__card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__header {
    margin: 65px 0 25px 0;
    color: #006C68;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: 30px;
}

.form__card--login {
    width: 450px;
    height: 500px;
}

.form__card--adminlogin {
    width: 450px;
    height: 400px;
}

.form__card--signup {
    width: 450px;
    height: 650px;
}

.form__card--forgetpassword {
    width: 450px;
    height: 390px;
}

.form__inputBox {
    position: relative;
    width: 300px;
}

.form__inputBox--id,
.form__inputBox--fname,
.form__inputBox--lname,
.form__inputBox--username,
.form__inputBox--email {
    margin: 0 0 25px 0;
}

.form__inputBox--password {
    margin: 0 0 5px 0;
}

.form__inputBox--tel {
    margin: 20px 0 25px 0;
}

.form__inputBox input {
    width: 100%;
    padding: 6px;
    outline: none;
    border: none;
    color: #006C68;
    font-size: 1em;
    background: transparent;
    border: 2px solid #006C68;
    transition: 0.1s;
    border-radius: 8px;
}

.form__inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #006C68;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
}

.form__inputBox--id input:valid~span,
.form__inputBox--id input:focus~span,
.form__inputBox--fname input:valid~span,
.form__inputBox--fname input:focus~span {
    transform: translateX(153px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #006C68;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.form__inputBox--username input:valid~span,
.form__inputBox--username input:focus~span {
    transform: translateX(160px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #006C68;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.form__inputBox--lname input:valid~span,
.form__inputBox--lname input:focus~span {
    transform: translateX(157px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #006C68;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.form__inputBox--email input:valid~span,
.form__inputBox--email input:focus~span {
    transform: translateX(199px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #006C68;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.form__inputBox--password input:valid~span,
.form__inputBox--password input:focus~span {
    transform: translateX(160px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #006C68;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.form__inputBox--tel input:valid~span,
.form__inputBox--tel input:focus~span {
    transform: translateX(220px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #006C68;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.form__inputBox input:valid,
.form__inputBox input:focus {
    border: 2px solid #006C68;
    border-radius: 8px;
}

.form__btn {
    width: 300px;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background: #006C68;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-bottom: 15px;
}

.form__btn--forgetpassword {
    margin-top: 20px;
}

.form__text {
    color: #000;
    font-size: 0.8em;
    margin-bottom: 15px;
}

.form__forgetPassword {
    width: 300px;
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
}

.forgetPassword__text {
    color: #00000065;
    font-size: 0.8em;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s;
}

.forgetPassword__text:hover {
    color: #006C68;
}

.form__subtext {
    color: #006C68;
    font-size: 1em;
    font-weight: 600;
    text-decoration: underline;
    transition: 0.5s;
}

.form__subtext:hover {
    color: #006C68;
}

#signInDiv {
    margin-bottom: 15px;
}

@media screen and (max-width: 525px) {
    .form__card {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 375px) {
    .form__inputBox {
        width: 270px;
    }

    .form__btn {
        width: 270px;
    }
}