table {
    border-collapse: collapse;
    font-size: 0.9em;
    color: #006C68;
    
    border-start-end-radius: 15px;
    border-end-start-radius: 15px;
    border-end-end-radius: 15px;

    overflow: hidden;
}

table thead tr {
    background-color: #006C68;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

table th,
table td {
    padding: 20px 15px !important;
}

table tbody tr:nth-of-type(odd) td {
    background-color: #ffffff;
    color: #006C68;
}

table tbody tr:nth-of-type(even) td div button i {
    color: #fff;
}

table tbody tr:nth-of-type(even) {
    background-color: #238F8B;
}

table tbody tr.active-row {
    font-weight: bold;
    color: #fff;
}

table thead tr th,
table tbody tr td {
    white-space: nowrap;
}

.table>:not(caption)>*>* {
    box-shadow: none;
}

.table__tabs {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.table__tab {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Noto Sans Thai', sans-serif;
    letter-spacing: 1px;
}

.table__tab--active {
    color: #ffffff;
    background-color: #006C68;

    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
}

.table__tab--active:hover {
    color: #ffffff;
    background-color: #006C68;
}

.table__tab--unactive {
    color: #ffffff;
    background-color: #006c69d8;

    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
}

.table__tab--unactive:hover {
    color: #ffffff;
    background-color: #006C68;
}

.table__tab--chemicals {
    padding: 8px 20px;
}

.table__tab--equipment {
    padding: 8px 20px;
}

.fa-circle-plus {
    font-size: 20px;
    color: #006c69d8;
}