table {
    border-collapse: collapse;
    font-size: 0.9em;
    color: #006C68;

    border-start-end-radius: 15px;
    border-end-start-radius: 15px;
    border-end-end-radius: 15px;

    overflow: hidden;
}

table thead tr {
    background-color: #006C68;
    color: #fff;
    text-align: left;
}

table th,
table td {
    padding: 12px 10px !important;
    font-family: 'Noto Sans Thai', sans-serif;
}

table tbody tr:nth-of-type(odd) td {
    background-color: #ffffff;
    color: #006C68;
}

table tbody tr:nth-of-type(odd) td div button .fa-circle-plus,
table tbody tr:nth-of-type(odd) td div button {
    color: #006C68;
}

table tbody tr:nth-of-type(even) {
    background-color: #f2f2f2 !important;
}

table thead tr th,
table tbody tr td {
    white-space: nowrap;
}

table tbody tr {
    font-weight: 400 !important;
}

.table__tabs {
    display: flex;
    align-items: center;
}

.table__tab {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Noto Sans Thai', sans-serif;
    letter-spacing: 1px;
}

.table__tab--active {
    color: #ffffff;
    background-color: #006C68;

    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
}

.table__tab--active:hover {
    color: #ffffff;
    background-color: #006C68;
}

.table__tab--unactive {
    color: #ffffff;
    background-color: #006c69d8;

    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
}

.table__tab--unactive:hover {
    color: #ffffff;
    background-color: #006C68;
}

.table__tab--chemicals {
    padding: 8px 20px;
}

.table__tab--equipment {
    padding: 8px 20px;
}

.fa-circle-plus,
.fa-eye,
.fa-pen-to-square,
.fa-trash {
    margin-right: 10px;
}

.btn-outline-success {
    color: #006C68;
    border-color: #006C68;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #006C68;
    border-color: #006C68;
}

.table__button {
    width: fit-content;
    line-height: 2;
    position: relative;
    color: #006C68;
}

.table__button::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #006C68;
    position: absolute;
    bottom: 0.25rem;
    right: 0;
    transition: right .6s, width .6s, left .6s;
}

.table__button:hover {
    color: #006C68;
}

.table__button:hover::before {
    width: 100%;
    left: 0;
}

table tbody tr:nth-of-type(even) td div .table__button::before {
    background-color: #fff;
}

table tbody tr:nth-of-type(even) td input {
    color: #006C68;
}

table tbody tr:nth-of-type(even) td .table__form--input {
    border: 2px solid #006C68;
}

.table__form {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #006C68;
    font-size: 16px;
    font-weight: 400;
    padding: .375rem .75rem;
}

.table__form--input {
    border: 2px solid #006C68;
    border-radius: 5px;
    font-family: 'Noto Sans Thai', sans-serif;
}

select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #006C68;
    font-size: 16px;
    font-weight: 400;
    padding: .375rem .75rem;
}

.table__status {
    padding: 10px;
    border-radius: 5px;
    font-weight: 400;
    color: #fff !important;
}

.fa-circle-check,
.fa-circle-xmark,
.fa-clock,
.fa-vial-circle-check,
.fa-filter-circle-xmark,
.fa-square-minus {
    margin-right: 10px;
}

.add--btn {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit--btn {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #006C68;
    color: #fff !important;
    text-decoration: none;
}

.delete--btn {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff !important;
    text-decoration: none;
}

.edit--btn:hover {
    background-color: #025855;
}

.delete--btn:hover,
.edit--btn:hover {
    color: #fff !important;
    text-decoration: none;
}

/* ============================== table export ================================= */
.table-export {
    overflow: visible !important;
}

/* Style table headers */
.table-header {
    background-color: #f2f2f2 !important;
    color: #006C68;
    font-weight: bold;
    border-bottom: 2px solid #cccccc80 !important;
    padding: 8px;
    /* Adjust the padding as needed */
    text-align: center;
    /* Center align the text in headers */
}

/* Style table data cells */
.table-data {
    border-bottom: 1px solid #ccc;
    padding: 8px;
    /* Adjust the padding as needed */
    text-align: center;
    /* Center align the text in cells */
}

/* Style the table rows with alternating background colors */
.active-row {
    background-color: #f2f2f2 !important;
    color: #006C68 !important;
    font-weight: 500 !important;
}

.floating-button {
    position: fixed;
    bottom: 40px;
    right: 50px;
}

.text-success {
    color: #006C68 !important;
}

@media screen and (max-width: 875px) {
    .floating-button {
        bottom: 120px;
    }
}